Repository Saman13/sausage: changes, and which GitLab CI jobs are due for each by the changed paths.
All: telegram-notification-backend, telegram-notification-frontend

.gitlab-ci.yml:

stages:
  - build
    
include:
  - local: /backend/.gitlab-ci.yml
  - local: /frontend/.gitlab-ci.yml

telegram-notification-backend:
  stage: notify
  only:
    changes:
    - backend/**/*
  script:
    - curl <отправка вашего сообщения>
  needs:
    - build-backend-code-job

telegram-notification-frontend:
  stage: notify
  only:
    changes:
    - frontend/**/*
  script:
    - curl <отправка вашего сообщения>
  needs:
    - build-frontend-code-job

telegram-notification-backend:
  stage: notify
  only:
    changes:
    - backend/**/*
  script:
    - curl <отправка вашего сообщения>
  needs:
    - build-backend-code-job

telegram-notification-frontend:
  stage: notify
  only:
    changes:
    - frontend/**/*
  script:
    - curl <отправка вашего сообщения>
  needs:
    - build-frontend-code-job

send notofication
  .gitlab-ci.yml
Due: none

send notofication
  backend/.gitlab-ci.yml
Due: telegram-notification-backend

send notification
  frontend/.gitlab-ci.yml
Due: telegram-notification-frontend

send notification
  backend/.gitlab-ci.yml
Due: telegram-notification-backend

send notification
  .gitlab-ci.yml
  backend/.gitlab-ci.yml.swp
Due: telegram-notification-backend

send notification
  backend/.gitlab-ci.yml
  backend/.gitlab-ci.yml.swp
  frontend/.gitlab-ci.yml
Due: telegram-notification-backend, telegram-notification-frontend

send notification
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: telegram-notification-backend, telegram-notification-frontend

Added more tests and fixed bug
  backend/src/main/java/com/yandex/practicum/devops/controller/OrderController.java
  backend/src/test/java/com/yandex/practicum/devops/exception/ApiExceptionHandlerTest.java
  backend/src/test/java/com/yandex/practicum/devops/model/OrderProductPKTest.java
  backend/src/test/java/com/yandex/practicum/devops/service/OrderProductServiceImplTest.java
  backend/src/test/java/com/yandex/practicum/devops/service/OrderServiceImplTest.java
  backend/src/test/java/com/yandex/practicum/devops/service/ProductServiceImplTest.java
Due: telegram-notification-backend

add test backend send notificaion
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: telegram-notification-backend

add test sonar
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: telegram-notification-backend

test pipline
  backend/.gitlab-ci.yml
Due: telegram-notification-backend

test pipline send notification
  backend/.gitlab-ci.yml
Due: telegram-notification-backend

test pipeline
  backend/.gitlab-ci.yml
Due: telegram-notification-backend

Added more tests and fixed bug
  backend/src/main/java/com/yandex/practicum/devops/controller/OrderController.java
Due: telegram-notification-backend

Bug fix java
  backend/src/main/java/com/yandex/practicum/devops/controller/OrderController.java
Due: telegram-notification-backend

test frontend pipeline
  frontend/.gitlab-ci.yml
Due: telegram-notification-frontend

test pipeline
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: telegram-notification-backend, telegram-notification-frontend

fix some
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: telegram-notification-backend, telegram-notification-frontend

Reporting available now
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/main/resources/log4j2.yml
  backend/src/main/resources/logback.xml
  backend/src/test/java/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.java
Due: telegram-notification-backend
